{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% comment %} start of css file {% endcomment %}
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}">
    {% block basecss %}
     <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/style.css' %}">
    {% endblock basecss%}
    {% comment %} end of css file {% endcomment %}
</head>
<body>
    
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-sm-2">
                {% comment %} start of sidebar {% endcomment %}
                  {% include 'sidebar.html' %}
                {% comment %} end sidebar {% endcomment %}
            </div>
            <div class="col-sm-10">
                {% comment %} start content {% endcomment %}
                {% block content %}{% endblock content %}
                {% comment %} end content {% endcomment %}
            </div>
        </div>
    </div>



    {% comment %}  start js files {% endcomment %}
    <script src="{% static 'myapp/js/bootstrap.js' %}"></script>
    <script src="{% static 'myapp/js/jquery.js' %}"></script>
    <script src="{% static 'myapp/js/popper.js' %}"></script>
    <script src="{% static 'myapp/js/style.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>
    {% comment %} end of js file  {% endcomment %}
</body>
</html>
