{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% comment %} start of css file {% endcomment %}
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
    {% comment %} end of css file {% endcomment %}
</head>
<body>
    
    <div class="container-fluid bg-dark">
        {% block content %}{% endblock content %}
    </div>



    {% comment %}  start js files {% endcomment %}
    <script src="{% static 'myapp/js/bootstrap.js' %}"></script>
    <script src="{% static 'myapp/js/jquery.js' %}"></script>
    <script src="{% static 'myapp/js/popper.js' %}"></script>
    <script src="{% static 'myapp/js/style.js' %}"></script>
    {% comment %} end of js file  {% endcomment %}
</body>
</html>
