{% load static %}
<div class="border-right border-warning h-100">
    {% comment %} profile image start {% endcomment %}
    <div class="text-center">
        <img src="{% static 'myapp/images/propic.png' %}" alt="profilepic" class="img-fluid rounded-circle mt-5" width="100px" height="100px">
        <h3 class="text-white mt-3 st-font">Anupama Kumari Pradhan</h3>
    </div> 
    
    {% comment %} profile image end {% endcomment %}
    <hr class="border-light">
    <nav class="nav flex-column">
        <a class="nav-link active" href="{% url 'home' %}">Home</a>
        <a class="nav-link" href="{% url 'skill' %}">Skills</a>
        <a class="nav-link" href="{% url 'projects' %}">Projects</a>
        <a class="nav-link" href="{% url 'contact' %}">Contact Me!</a>
    </nav>
</div>