{% extends 'base.html' %}
{% load static %}
{% block content %}
{% comment %} start parent  {% endcomment %}
<div class="container mt-5">
    {% comment %} start heading {% endcomment %}
      <h1 class="text-warning mb-5 border-bottom">PROJECTS</h1>
    {% comment %} end heading {% endcomment %}

    {% comment %} start of body  {% endcomment %}
    <h1>{{project.title}}</h1>
    <p class="date">
        Published:{{project.publish}}
    </p>
    {{project.body|linebreaks}}
    {% comment %} end of body {% endcomment %}
    
    {% comment %} comment section {% endcomment %}
    {% with comments.count as total_comments %}
    <h2>
      {{total_comments }} comment {{total_comments|pluralize}}
    </h2>
    {% endwith %}
    {% comment %} comment count section {% endcomment %}
    
    {% comment %} active comment section {% endcomment %}
    {% for comment in comments %}
      <div class="comment">
        <p class="info">
          Comment {{forloop.counter}} by {{comment.name}}
          {{comment.created }}
        </p>
        {{comment.body|linebreaks}}
      </div>
    {% empty %}
       <p>There are no comments. </p>  
    {% endfor %}
    {% comment %} active comment ends {% endcomment %}
    {% include "myapp/includes/comment_form.html" %}
</div>
{% comment %} end parent {% endcomment %}
{% endblock content %}