{% extends 'base.html' %}
{% load static %}
{% block content %}
{% comment %} start of parent area {% endcomment %}
<div>
    {% comment %} start profile image area {% endcomment %}
    <div class="text-center mt-5">
        <img src="{% static 'myapp/images/propic1.jpg' %}" alt="profilepic"
         width="250px" height="130px" class="img-thumbnail">
    </div>
    {% comment %} end of profile image {% endcomment %}
    {% comment %} start of profile info {% endcomment %}
    <div class="text-white mt-5 mx-5 text-justify">
        <h1 class="font-bold-weight st-font">Hello,</h1>
        <div class="px-4" style="line-height:1.5rem;">
            <p style="text-indent:100px">I am <b class="text-warning">Anupama Kumari Pradhan </b>,pursuing master degree in Parul University 
                in Computer Applications.</p>
            <p>I am a self taught full stack web developer equipped with the latest in both front and back-end technologies, mostly 
                focus in backend technologies.My toolkit includes <b class="text-warning">HTML ,CSS ,Javascript, Bootstrap, Python, Django, Git/Github </b>.
            </p>
            <p>This website is a guide to my work and the content I've created .It includes coding demos and DIY projects.</p> 
        </div>
           
    </div>
    {% comment %} end of profile info {% endcomment %}
    {% comment %} start of btn  {% endcomment %}
    <div class="text-center">
        {% comment %} <a href="" class="btn btn-outline-warning my-3">Hire Me</a> {% endcomment %}
        {% comment %} {% for file in files %} {% endcomment %}
        <a href="{% url 'download_cv'  %}" target="_blank" rel="noopener noreferrer" class="btn btn-outline-primary my-3">Download CV</a> 
        {% comment %} {% endfor %} {% endcomment %}
    </div>
   
    {% comment %} end of btn {% endcomment %}
</div>
{% comment %} end of parent area {% endcomment %}

{% endblock content %}