{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-2">
        {% comment %} start sidenav {% endcomment %}
        <div class="border-right border-warning h-100">
            {% comment %} profile image start {% endcomment %}
            {% comment %} <div>
                <img src="{% static 'myapp/images/propic.jpeg' %}" alt="profilepic" class="img-fluid rounded-circle mt-5" width="100px" height="100px">
                <h3>Anupama Kumari Pradhan</h3>
            </div> 
            {% endcomment %}
            {% comment %} profile image end {% endcomment %}
            <hr class="border-light">
            <nav class="nav flex-column">
                <a class="nav-link active" href="#">Active</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link disabled" href="#">Disabled</a>
            </nav>
        </div>
        
        {% comment %} end sidenav {% endcomment %}
    </div>
    <div class="col-sm-10">
        <h1>right side</h1>
    </div>
</div>
{% endblock content %}