{% extends 'base.html' %}
{% block content %}
{% comment %} start parent  {% endcomment %}
<div class="container mt-5">
    {% comment %} start heading {% endcomment %}
      <h1 class="text-warning mb-5 border-bottom">PROJECTS</h1>
    {% comment %} end heading {% endcomment %}
    <div class="jumbotron jumbotron-fluid jumbo-color">
      <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal 
          space of its parent.</p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
    </div>
</div>
{% comment %} end parent {% endcomment %}

{% endblock content %}